<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Iniciar Sesión
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form [formGroup]="credentialForm">
    <ion-list>
      <ion-item class="espan">
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input placeholder="Email address" formControlName="email" autofocus="true" clearInput="true"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input placeholder="Password" type="password" formControlName="password" clearInput="true"></ion-input>
      </ion-item>
    </ion-list>

    <ion-button class="espan normal custom-color " (click)="login()" expand="block" type="submit">Iniciar Sesion</ion-button>
    <ion-button class="normal custom-color"  expand="block" fill="clear" routerLink="/registro">Registrarse</ion-button>
  </form>


  <ion-img class="espan" src="assets/hueca-fest.png"/>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title> Bienvenidos !!</ion-title>
  </ion-toolbar>
</ion-footer>